:root.theme-dark {
  --title-color: #ff0070;
  --btn-color: #ff0070;
  --headline-color: #000028;
  --text-color: #F1B2CE;
  --neon-color: #DB00FF;
  --decorative-element: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}