:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --title-color: #FF8DCB;
  --btn-color: #FF8DCB;
  --headline-color: #353430;
  --text-color: #353430;
  --neon-color: #FFC2E6;
  --decorative-element: #353430;
}

.theme-light .header__decorative-item {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  outline: thin solid rgba(53, 52, 48, 0.4);
}

.theme-light .footer__title {
  text-shadow: 2px 2px #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --title-color: #FF8DCB;
    --btn-color: #FF8DCB;
    --headline-color: #353430;
    --text-color: #353430;
    --neon-color: #FFC2E6;
    --decorative-element: #353430;
  }

  .theme-auto .header__decorative-item {
    display: none;
  }

  .theme-auto .header__theme-menu-button:hover {
    outline: thin solid rgba(53, 52, 48, 0.4);
  }
}