:root {
  --background-image: url(../images/cover-image-dark.png);
  --font: "IBM Plex mono";
  --font-size: 18px;
  --title-weight: 700;
  --text-weight: 400;
  --title-color: #ff0070;
  --btn-color: #ff0070;
  --headline-color: #000028;
  --text-color: #F1B2CE;
  --neon-color: #DB00FF;
  --decorative-element: #ff0070;
}